.containerSeperate{
  display: flex;
  height: 100vh;
  width: 100vw;
}



.dashboard_title {
  width: 60vw;
  background-color: white;
  height: 7vh;
  font-family: "Kalam", cursive;
  font-size: 4vh;
  text-indent: 5vw;
  box-shadow: 1vh 1vh 1vh #00000080;
  padding: 1%;
  margin-bottom: 3%;
  
}

.user_profile {
  background-color: white;
  width: 15vw;;
  height: 70vh; /* Adjusted height */
  box-shadow: 1vh 1vh 1vh #00000080;
  font-family: "Kalam", cursive;
  margin-right: 5%;
  margin-left: 2%;
  
  
}

.root_recipe {
  padding: 2.5%;
  font-family: "Kalam", cursive;
  background-color: white;
  width: calc(50% - 4vh); /* Adjusted width */
  border: 0.1vh solid #000000;
  border-radius: 2vh;
  box-shadow: 1vh 1vh 1vh #00000080;
  margin-right: 2%;
  margin-bottom: 2%;

}

.dbButton {
  font-family: "Kalam", cursive;
  background-color: #f45f56;
  border-radius: 2vh;
  color: white;
  margin: 2vh;
  font-weight: 400;
  font-style: normal;
  font-size: 2vh;
  padding: 1vh 2vh;
}

.userDescription {
  background-color: rgba(128, 128, 128, 0.307);
  font-size: 2vh;
  width: 70%;
  margin-left: 2vw;
  color: #f45e56bb;
  margin-top: 2vh;
}

.userUsername {
  font-size: 2vh;
  margin-left: 2vw;
  margin-top: 1vh;
  padding-top: 1vh;
}

.recipe_content {
  margin-bottom: 1vh;
}

.recipe_title {
  font-size: 1.5vh;
  margin-bottom: 0.5vh;
}

.recipe_image {
  width: 10vh;
  height: 10vh;
  margin-bottom: 1vh;
}

.recipe_description {
  font-size: 1.3vh;
}

.recipe_calorie_title {
  font-size: 1.5vh;
}

.ingredient_list_title,
.amount_list_title {
  font-weight: bold;
}

.ingredient_list_item,
.amount_list_item {
  margin-left: 2vw;
  list-style-type: disc;
}

.delete_button {
  background-color: #f45f56;
  color: white;
  border: none;
  border-radius: 1vh;
  padding: 0.5vh 1vh;
  font-size: 1.3vh;
  cursor: pointer;
}

.delete_button:hover {
  background-color: #d6433f;
}
.recipeCardUser {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 60vh;
  overflow-x: auto;
  clear: both; /* Clear the float */
}