.container {
  background-color: rgba(255, 255, 255, 0.214);
  height: 100vh;
  box-shadow: black 3px 3px 3px 3px;
  font-family: "Kalam", cursive;
  text-shadow: white 2px 2px 2px 2px;
  overflow-y: auto;
}

.recipe {
  display: flex;
  background-color: #ffffff71;
  text-align: center;
  box-shadow: black 1px 1px 4px 2px;
  margin: 10px;
  height: 400px;
  width: 80%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #f45e56bb;
  -webkit-box-shadow: inset 1px 1px 0 rgb(0, 0, 0),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.container::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #f45e5600;
  -webkit-box-shadow: inset 0px 0px 0 rgb(0, 0, 0),
    inset 0 0px 0 rgba(0, 0, 0, 0);
}

.recipeFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodRecipeDiv {
  padding: 3%;
  width: 50%;
}

.recipeHeader {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: rgba(97, 94, 94, 0.237);
  box-shadow: rgba(0, 0, 0, 0.197) 2px 2px;
  width: 50%;
}

li {
  list-style: none;
}

.ingredientsAndMeasurements {
  display: flex;
  justify-content: center;
}

.userIcon {
  width: 50%;
  border-radius: 50%;
  box-shadow: black 2px 3px;
}

.userIconTitle {
  margin: 2%;
  font-size: medium;
  font-weight: 600;
  text-shadow: white 10px;
}

.listTitle {
  margin-top: 6%;
  text-decoration: underline;
  font-weight: 600;
}

.recipeFeedTitle {
  margin-top: 0.3%;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: underline;
  text-transform: capitalize;
}

.recipeImage {
  margin-bottom: 10px;
  height: 60%;
  box-shadow: black 1px 1px 1px 1px;
}

/* Media Query for Small Screens (e.g., smartphones in landscape mode) */
@media only screen and (max-width: 780px) {
  .recipeImage {
    height: 30% /* Ensuring the image height adjusts to fit smaller screens */
  }
}

/* Media Query for Very Small Screens (e.g., compact smartphones or devices in portrait mode) */
@media only screen and (max-width: 480px) {
  .recipeImage {
    height: 20%; /* Reducing image height for very small screens */
  }
}


.recipeComments {
  margin: 0 auto;
  height: 10%;
  width: 50%;
  background-color: white;
  color: black;
  box-shadow: black 1px 1px 2px 1px;
  font-size: 20px;
}

.ingredients {
  margin-top: 2px;
  padding-left: 0;
}

.modalButton {
  background-color: #f45f56;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-family: "Kalam", cursive;
}

.closeModalButton {
  background-color: #f45f56;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
  font-style: normal;
}

.closeModalButtonDiv {
  font-size: 20px;
  font-family: "Kalam", cursive;
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  background-color: #f45e56d0;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
  font-style: normal;
}

.recipeButtons {
  display: flex;
  justify-content: center;
  height: 25%;
}

.linkIcons {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.instructionButton {
  height: 70%;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 2%;
}

.instructionButton:hover .linkIcons {
  transform: scale(1.2);
}

.instructionButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f45e5641;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.instructionButton:hover::before {
  opacity: 1;
}

.instructionAnchor {
  margin: 3%;
}

.calories {
  margin: 0;
  font-weight: 600;
}

.searchRecipeContainer {
  margin-top: 2%;
}

.searchRecipeSearch {
  margin-left: 1%;
}
.recipeModalButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

